<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "asstes/style.css">
    <title>PRUEBA ELIAN</title>

</head>
<body style="background-color: green; color: white;">
    <h1 style="text-align: center; font-size: 40px;">DUA LIPA</h1>
         <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eum eligendi mollitia reiciendis quasi assumenda perspiciatis itaque magnam, velit dolorum illo repellat sapiente amet sunt accusamus. Iste, mollitia ea. Consectetur.</P>

         <ul>
             <li>HOLA</li>
             <li>HOLA</li>
             <li>HOLA</li>
         
            </ul>

</body>
</html>